* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #EFEFEF;
}

main {
  width: 96%;
  max-width: 60rem;
  background-color: #FFF;
  margin: 0 auto;
  padding: 3rem;
}
