<main>
  <aside>
    <form action="#">
      <ul>
        <li *ngFor="let filterCollection of filterCollections">
          <label for="filter_category" [innerHTML]="filterCollection.name"></label>
          <select [name]="filterCollection.name" id="filter_category">
            <option *ngFor="let option of filterCollection.options" [value]="option.value" [innerHTML]="option.name"></option>
          </select>
        </li>
      </ul>
    </form>
  </aside>
  <section>
    <app-post-preview *ngFor="let result of results" [data]="result"></app-post-preview>
  </section>
</main>
